{%  extends 'base.html' %}
{% load filters %}

{% block 'title' %}
    Cadastrar Produto
{% endblock %} 

{% block 'body' %}

    <div class="container">
        <div class="d-flex justify-content-between align-items-stretch">
            <h2 class="mt-4">Cadastrar Produto</h2>
            {% if messages  %}
                {% for message in messages %}
                    <div class=" mt-2 alert {{message.tags}}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <form class="d-flex flex-column mt-3" action="{% url 'add_produto' %}" method='POST' enctype='multipart/form-data'>
            {% csrf_token %}
            <label class="mt-2">Nome:</label>
            <input class="form-control"  type='text' name="nome" multiple />
            <label>Imagens:</label>
            <input class="form-control" type='file' name="imagens" multiple />
            <label class="mt-2">Selecione a categoria do produto</label>
            <select class="form-control" name='categoria' >
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.titulo }}</option>
                {% endfor %}
            </select>
            <label class="mt-2">Estoque inicial:</label>
            <input class="form-control"  type='number' name="quantidade" />
            <label class="mt-2">Preço de compra:</label>
            <input class="form-control"  type='number' name="preco_compra" />
            <label class="mt-2">Preço de venda:</label>
            <input class="form-control"  type='number' name="preco_venda" />

            <button class="btn btn-success mt-3" type="submit">Salvar</button

        </form>   
        <hr style="color: #6c757d;" />
        <div class="listar_produtos">
            {% for produto in produtos %}
                <div class="bg-dark card" style="width: 18rem;">
                    {% if produto|get_first_image %}
                    <img width="100%" class="card-img-top" src="{{ produto|get_first_image }}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ produto.nome }}</h5>
                    <span class="badge badge-info">{{ produto.categoria }}</span>
                    {% comment %} <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> {% endcomment %}
                    <a href="#" class="btn btn-primary">Acessar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> 

{% endblock %}

